.inbox-list-header.flex-vertical-centered(ng-class="{ searching: $ctrl.searching }")
  inbox-list-group-toggle-selection
  inbox-refresh-button(refresh="$ctrl.refresh()", loading="$ctrl.loading")
  .inbox-list-header-group.hidden-xs(ng-switch="$ctrl.group.name")
    span(ng-switch-when="Today") #{__('Today')}
    span(ng-switch-when="Yesterday") #{__('Yesterday')}
    span(ng-switch-when="This week") #{__('This week')}
    span(ng-switch-when="Last week") #{__('Last week')}
    span(ng-switch-when="This month") #{__('This month')}
    span(ng-switch-when="Last month") #{__('Last month')}
    span(ng-switch-when="This year") #{__('This year')}
    span(ng-switch-when="Old messages") #{__('Old messages')}

  .inbox-list-header-actions
    .inbox-list-header-quick-filter
      esn-filter-input(placeholder="Search...", ng-if="$ctrl.searching || $ctrl.quickFilter", auto-focus-input="true", filter="$ctrl.quickFilter", on-change="$ctrl.setQuickFilter($filter)", on-blur="$ctrl.searching = false")
      button.btn.btn-link.btn-icon-inside-input.waves-notransition(ng-if="!$ctrl.searching && !$ctrl.quickFilter", ng-click="$ctrl.searching = true", ng-class="{ active: $ctrl.quickFilter }", title=__('Search'))
        i.mdi.mdi-magnify
    inbox-filter-button.clickable(ng-if="$ctrl.filters.length > 0", filters="$ctrl.filters")
