sub-header
  inbox-identities-subheader

.inbox-identities
  inbox-identity(
    ng-repeat="identity in $ctrl.identities track by identity.uuid",
    identity="identity",
    can-edit="$ctrl.canEdit",
    user="$ctrl.user"
  )

fab(
  ng-if="$ctrl.canEdit",
  ng-click="$ctrl.openCreateForm()"
)
