.emailer(
  profile-popover-card="{source: 'emailer', property: 'id'}"
  profile-popover-card-alternative-title="{{ emailer.email }}"
  profile-popover-card-placement="right"
  profile-popover-card-hide-on-element-scroll="body"
  profile-popover-card-show-mobile
)
  span(ng-bind-html="emailer.name | esnHighlight: highlight") {{ emailer.name }}
  span.me(ng-if="me") (#{__('me')})
