sub-header
  inbox-new-filter-subheader(on-save='$ctrl.saveFilter()')

.inbox-configuration-new-filter
  form(name="form", esn-submit="$ctrl.saveFilter()")
    esn-form-group(label=__('Filter name'))
      input.form-control(required, auto-focus, ng-model="$ctrl.newFilter.name", name="filter name")

    esn-form-group(label=__('if a message'))
      .select
        select.form-control(
          ng-model="$ctrl.newFilter.when"
          ng-options="condition as condition.val for condition in $ctrl.conditionsOptions")
      recipients-auto-complete(
        ng-class='{ "no-more-results": $ctrl.hideMoreResults() }'
        ng-model="$ctrl.newFilter.from"
        template="recipients-auto-complete")

    esn-form-group(label=__('then'))
      .select
        select.form-control(
          ng-model="$ctrl.newFilter.then"
          ng-options="action as action.val for action in $ctrl.actionOptions")
      .select
        select.form-control(
          ng-options="mailbox as mailbox.name for mailbox in $ctrl.mailboxes track by mailbox.id"
          ng-model='$ctrl.newFilter.moveTo')
