.inbox-forwardings-user-dialog.modal.full-screen(ng-init='$ctrl.init()')
  form(name="form", ng-submit="$ctrl.updateUserEmail(); $hide()")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('Set email redirections for %s', '{{::$ctrl.userDisplayName}}')}

        .modal-body.overflow-none
          .text-center(
            ng-if="$ctrl.status === 'loading'",
            openpaas-logo-spinner,
            spinner-start-active='1',
            spinner-size='0.3')
          
          inbox-forwardings-form(
            ng-if='$ctrl.forwardings',
            forwardings="$ctrl.forwardings",
            user="$ctrl.user")

          .forwarding-error(ng-if='$ctrl.status === "error"')
            .no-forwarding
              i.mdi.mdi-alert-circle-outline
              .text-muted #{__('Error while loading forwarding settings!')}
              
        .modal-footer(ng-if="$ctrl.status === 'loaded'")
          button.btn.btn-link(type="button", ng-click="$hide()")
            | #{__('Cancel')}
          button.btn.btn-primary(type="submit")
            | #{__('Save')}
      
        