a(
  ng-init="locals = { user: $ctrl.user }",
  href="",
  esn-modal-launcher='/unifiedinbox/app/components/forwardings/user/inbox-forwardings-user-dialog.html',
  controller="InboxForwardingsUserController",
  controller-as="$ctrl",
  locals="{{locals}}"
) #{__('Set email forwardings')}
