ng-form.p-t-25(name='form')
  .left-block
    esn-form-group(label=__('JMAP API'))
      input.form-control(type="url", ng-model="$ctrl.configurations.api.value", name="apiUrl")
    esn-form-group(label=__('Upload API'))
      input.form-control(type="url", ng-model="$ctrl.configurations.uploadUrl.value", name="uploadUrl")
    esn-form-group(label=__('Download API'))
      input.form-control(type="url", ng-model="$ctrl.configurations.downloadUrl.value", name="downloadUrl")
    esn-form-group(label=__('Number of items per request, on bulk READ operations'))
      input.form-control(type="number", step="10", min="30", max="5000", ng-model="$ctrl.configurations.numberItemsPerPageOnBulkReadOperations.value", name="numberItemsPerPageOnBulkReadOperations")
    esn-form-group(label=__('Number of items per request, on bulk DELETE operations'))
      input.form-control(type="number", step="10", min="30", max="5000", ng-model="$ctrl.configurations.numberItemsPerPageOnBulkDeleteOperations.value", name="numberItemsPerPageOnBulkDeleteOperations")
    esn-form-group(label=__('Number of items per request, on bulk UPDATE operations'))
      input.form-control(type="number", step="10", min="30", max="5000", ng-model="$ctrl.configurations.numberItemsPerPageOnBulkUpdateOperations.value", name="numberItemsPerPageOnBulkUpdateOperations")
    h5 #{__('Mobile options')}    
    .form-group.option-field
      .col-xs-4.field-name #{__('Swipe right action')}
      .col-xs-8.flex-space-between
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.swipeRightAction.value", value="markAsRead")
          i.input-helper
          span
            |  #{__('Mark as read')}
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.swipeRightAction.value", value="moveToTrash")
          i.input-helper
          span
            |  #{__('Move to trash')}
    .form-group.option-field
      .col-xs-4.field-name #{__('Display email as')}
      .col-xs-8.flex-space-between
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.view.value", value="threads")
          i.input-helper
          span
            |  #{__('Threads')}
        label.col-xs-6.radio.radio-inline
          input(type="radio", ng-model="$ctrl.configurations.view.value", value="messages")
          i.input-helper
          span
            |  #{__('Messages')}
  .right-block
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable JMAP sending')}
        p.small.text-muted #{__('Activate JMAP support protocol')}
      .col-xs-4.flex-end 
        toggle-switch(ng-model="$ctrl.configurations.isJmapSendingEnabled.value", form="form")
    h5 #{__('Composer')}    
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable save draft before sending')}
        p.small.text-muted #{__('Allow email to be saved as draft if something goes wrong')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations.isSaveDraftBeforeSendingEnabled.value", form="form")
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable draft email')}
        p.text-muted #{__('Allow the draft to be saved')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations.drafts.value", form="form")
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable attachments')}
        p.text-muted #{__('Enable attachments in composer')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations['composer.attachments'].value", form="form")
    admin-form-input-bytes(input-value="$ctrl.configurations.maxSizeUpload.value", min="1KB", max="50TB", label=__('Max size upload'), required="true")
    h5 #{__('Fowarding')}    
    div(ng-if="$ctrl.mode === $ctrl.availableModes.domain")
      .form-group.option-field.m-b-10
        .col-xs-8.field-name #{__('Enable users to configure email forwarding')}
        .col-xs-4.flex-end
          toggle-switch(ng-model="$ctrl.forwardingConfigs.forwarding.value", form="form", onchange="$ctrl.onForwardingChange()")
      .form-group.option-field(ng-class="{ 'ts-disabled': !$ctrl.forwardingConfigs.forwarding.value }")
        .col-xs-8.field-name #{__('Enable users to keep a local copy of forwarded emails')}
        .col-xs-4.flex-end
          toggle-switch(ng-model="$ctrl.forwardingConfigs.isLocalCopyEnabled.value", form="form", onchange="$ctrl.onLocalCopyChange()", ng-disabled="!$ctrl.forwardingConfigs.forwarding.value")
    h5 #{__('Shared folders')}    
    .form-group.option-field
      .col-xs-8.field-name #{__('Enable folders sharing')}
        p.text-muted #{__('Allow users to share folders to other users with some roles')}
      .col-xs-4.flex-end
        toggle-switch(ng-model="$ctrl.configurations.features.value.foldersSharing", form="form")
