md-menu-item
  md-button(ng-disabled="ctrl.mailbox.unreadMessages === 0", ng-click="ctrl.markAllAsRead(ctrl.mailbox.id)")
    md-icon(md-menu-origin, md-svg-icon="email-open", aria-label="email open Icon")
    | #{__('Mark all as read')}
md-menu-item(ng-if="ctrl.mailbox.role.value !== 'all'", esn-modal-launcher="/unifiedinbox/app/components/mailbox-shared-settings/mailbox-shared-settings.html", controller-as="ctrl", controller="InboxMailboxSharedSettingsController")
  md-button
    md-icon(md-menu-origin, md-svg-icon="account-multiple", aria-label="sharing settings Icon")
    | #{__('Sharing settings')}
md-menu-item(ng-if="ctrl.isFolder || !ctrl.isShared", ui-sref="unifiedinbox.inbox.folders.edit({ mailbox: ctrl.mailbox.id })")
  md-button
    md-icon(md-menu-origin, md-svg-icon="settings", aria-label="settings Icon")
    | #{__('Folder settings')}
md-menu-item(ng-if="ctrl.mailbox.role.value === 'trash'")
  md-button(ng-disabled="ctrl.mailbox.totalMessages === 0", ng-click="ctrl.emptyTrash(ctrl.mailbox.id)")
    md-icon(md-menu-origin, md-svg-icon="delete-empty", aria-label="empty Icon")
    | #{__('Empty trash')}
md-menu-divider(ng-if="ctrl.isFolder || !ctrl.isShared")
md-menu-item(ng-if="ctrl.isFolder || !ctrl.isShared", ui-sref="unifiedinbox.inbox.folders.delete({ mailbox: ctrl.mailbox.id })")
  md-button
    md-icon(md-menu-origin, md-svg-icon="delete", aria-label="delete Icon")
    | #{__('Delete folder')}