esn-attachments-selector(
  feature-flag="linagora.esn.unifiedinbox.composer.attachments",
  attachments="$ctrl.attachments",
  attachment-type="$ctrl.attachmentType",
  attachment-filter="$ctrl.attachmentFilter",
  on-attachments-update="$ctrl.onAttachmentsUpdate({ $attachments: $attachments })",
  upload-attachments="$ctrl.uploadAttachments($files)",
)
