.attachments-zone
  .attachments(ng-if="$ctrl.message.attachments.length > 0")
    .attachment(ng-click="$event.stopPropagation()", ng-repeat="attachment in $ctrl.message.attachments | orderBy:'-'", ng-if="::!attachment.isInline", ng-class="attachment.status", name="attachment-{{$index}}")
      .progress(ng-if="attachment.status === 'uploading'", ng-style="{ width: attachment.upload.progress + '%' }")
      .icon(ng-switch='attachment.status')
        img(ng-switch-when="error", src="/images/exclamation.svg", alt=__("Error"))
        img(ng-switch-when="uploading", src="/images/upload.svg", alt=__("Uploading"))
        img(ng-switch-default, fallback-src="/images/file-icons/default.png", src="/images/file-icons/default.png", ng-src="/images/file-icons/{{ ::attachment.type | extension }}.png", alt=__("Attachment"))
      .metadata
        .basic-info
          .name.ellipsis {{ ::attachment.name }}
          .secondary-metadata(ng-switch="attachment.status")
            .retry(ng-switch-when="error") #{__('Upload failed')}.
              a(href="", ng-click="$ctrl.upload({ $attachment: attachment })") #{__('Retry')}
            .size(ng-switch-default) {{ ::attachment.size | bytes }}
        .provider-icon
          i(ng-class='$ctrl.getAttachmentProviderIcon(attachment)')
      .actions
        a.clickable
          i.mdi.mdi-close.cancel(ng-click="$event.stopPropagation(); $ctrl.removeAttachment({ $attachment: attachment })")
